.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/plugins/
.trash/

# Don't ignore the following plug-in configurations
!.obsidian/plugins/quickadd/data.json

# Exclude "bad" names
null*
Untitled*
