.obsidian/appearance.json
.obsidian/graph.json
.obsidian/plugins/
.obsidian/workspace.json
.trash/

# Don't ignore the following plug-in configurations
!.obsidian/plugins/quickadd/data.json

# Exclude "bad" names
null*
Untitled*

# Exclude OS settings and caches (Silly MacOS)
.trash/
.DS_Store

# Ignore python virtual environments
**/.venv/